@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

body {
    background-color: #bbbbbb;
}

.title-content {
    font-family: 'DM Serif Text', serif;
}

.main-class {
    margin-top: 8rem;
}